body{
    margin: 0;
    /* filter: blur(5px); */
    padding: 0;
    /* height: 100vh; */
}

.hero{
    height: 100%;
    width: 100%;
    position: absolute;
    top: 0;
    opacity: 0;
    right: 0;
    left: 0;
    bottom: 0;
    overflow: hidden;
    z-index: 1;
    /* transform: translate(-50%, -50%) scale(1.25); */
    /* transition: top 0ms ease-in-out 200ms,
                opacity 200ms ease-in-out 0ms,
                transform 20ms ease-in-out 0ms; */
    display: none;
}
.popup{
    opacity: 1;
    display: block;
    /* z-index: 20; */
    /* transform: translate(50%, 50%) scale(1); */
    /* transition: top 0ms ease-in-out 0ms,
                opacity 200ms ease-in-out 0ms,
                transform 20ms ease-in-out 0ms; */
}
.hero:before{
    content: '';
    position: absolute;
    top: -10px;
    left: -10px;
    width: calc(100% + 20px);
    height: calc(100% + 20px);
    /* background-image:linear-gradient(rgba(0,0,0,0.4), rgba(0,0,0,0.4)), url(assets/images/Burnt\ Orange\ car.png); */
    background-position: center;
    background-size: 110%;
    background-color: rgba(0, 0, 0, 0.4);
    z-index: -1;
}

.form-box{
    width: 380px;
    height: 480px;
    position: absolute;
    top: 0;
    left: 35%;
    margin: 6% auto;
    padding: 5px;
    z-index: 20;
    background: #FFFF;
    overflow: hidden;
    border-radius: 30px;
}
   .close-btn{
    margin: 0;
    padding: 0;
    width: 30px;
    height: 30px;
    position: absolute;
    background-color: transparent;
    color: #313131;
    border: none;
    /* border-radius: 50%; */
    top: 42px;
    right: 30px;
    cursor: pointer;
    font-size: 30px;
    line-height: 1.5px;
   } 
   .close-btn:hover{
    background-color: transparent;
    color: #313131;
}
.close-btn:active{
    background-color: transparent;
    transform: scale(0.95);
    color: #313131;
}
.button-box{
    width: 220px;
    margin: 35px auto;
    position: relative;
    box-shadow: 0 0 20px 2px #ff61241f;
    border-radius: 30px;
}
.toggle-btn{
    padding: 10px 30px ;
    font-family: "Montserrat", sans-serif;
    font-size: 12px;
    cursor: pointer;
    color: #313131;
    background: transparent;
    border: 0;
    outline: none;
    position: relative;
}
.toggle-btn:hover{
    background: transparent;
    color: #616060;
}
.toggle-btn:active{
    transform: scale(0.95);
}
#btn{
    top: 0;
    left: 0;
    position: absolute;
    width: 110px;
    height: 100%;
    background:linear-gradient(to right, #F7943C, #F78512) ;
    border-radius: 30px;
    transition: .2s;
}
.social-icons{
    display: flex;
    justify-content: center;
    margin: 30px auto;
    text-align: center;
}
.social-icons a{
    text-decoration: none;
}
.social-icons i{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 30px;
    height: 30px;
    color: #F5993C;
    position: relative;
    aspect-ratio: 1;
    margin: 0 12px;
    background-color: #FFFF;
    box-shadow: 0 0 70px 0 #7f7f7f3d;
    cursor: pointer;
    border-radius: 50%;
}
@property --fill{
    syntax: '<percentage>';
    inherits: true;
    initial-value: 0%;
}
.social-icons i:hover{
    color: #F78512;
    --fill:100%;
    box-shadow: 0 0 70px 0 #F5993C;
}
.social-icons i::after{
position: absolute;
z-index: -1;
content: '';
inset: -3px;
border-radius: inherit;
background: conic-gradient(#F5993C var(--fill), transparent var(--fill));
transition: --fill 0.6s ease-in-out;
}
.social-icons i:active{
    transform: scale(0.9);
    color: transparent;
    background: none;
}
.input-group{
    top: 180px;
    position: absolute;
    width: 280px;
    transition: 0.5s;
}
.input-field{
    width: 100%;
    padding: 10px 0;
    margin: 5px 0;
    border-left: 0;
    border-top: 0;
    font-family: "Poppins", sans-serif;
    font-size: 12px;
    border-right: 0;
    border-bottom:1px solid #999;
    outline: none;
    background: transparent;
}
.submit-btn{
    width: 85%;
    padding: 10px 30px;
    cursor: pointer;
    display: block;
    margin: auto;
    background: linear-gradient(to right, #F7943C, #F78512);
    border: 0;
    outline: none; 
    font-family: "Poppins", sans-serif;
    font-size: 12px;
    border-radius: 30px;
}
.submit-btn:hover{
    background: linear-gradient(to right, #F78512, #F7943C);
}
.submit-btn:active{
    transform: scale(0.95);
}
.check-box{
    margin: 30px 10px 30px 0;
}
span{
    color: #777;
    font-family: "Poppins", sans-serif;
    font-size: 12px;
    bottom: 68px;
    position: absolute;
}
#sign-in{
    left: 50px;
}
#sign-up{
    left: 450px;
}