body{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 0;
}
.web-holder{
    background-color: #F2F1F0;
    padding: 0 100px 50px;
    /* border-bottom: 1px solid #909090; */
    box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.1);
}
header{
    display: flex;
    justify-content: space-between;
    color: #313131;
    font-family: "Poppins", sans-serif;
    font-size: 14px;
    border-bottom: 1px solid #909090;
}
.contact{
    display: flex;
gap: 32px;
align-items: center;
}
.email{
    display: flex;
    gap: 16px;
    align-items: center;
}
.social-handles, ul{
    display: flex;
    justify-content: center;
    gap: 32px;
}
.social-handles li, li{
    list-style: none;
}
.social-handles li a{
    text-decoration: none;
}
.social-handles li a i{
    display: flex;
    justify-content: center;
    align-items: center;
    color: #F5993C;
    width: 30px;
    position: relative;
    aspect-ratio: 1;
    height: 10px;
    border-radius: 50%;
    background-color: #F2F1F0;
    padding: 10px 0;
    transition: all 0.3s ease-in-out;
}
@property --fill{
    syntax: '<percentage>';
    inherits: true;
    initial-value: 0%;
}
.social-handles li a i:hover{
    /* color: #F78512; */
    /* color: #fff; */
    --fill:100%;
    /* box-shadow: 0 0 70px 0 #F5993C; */
}
.social-handles li a i::after{
position: absolute;
z-index: -1;
content: '';
inset: -3px;
border-radius: inherit;
background: conic-gradient(#F5993C var(--fill), transparent var(--fill));
transition: --fill 0.6s ease-in-out;
}
.social-handles li a i:active{
    transform: scale(0.9);
    color: transparent;
    background: none;
}
/* .social-handles li a i:hover{
} */
section{
    display: flex;
    justify-content: space-between;
    font-family: "Poppins", sans-serif;
    font-size: 14px;
    padding: 10px 0;
}
.info{
    display: flex;
    gap: 30px;
    align-items: center;
}
select{
    padding: 10px 0;
    border: none;
    font-family: "Poppins", sans-serif;
    font-size: 14px;
    color: #313131;
    background-color: #F2F1F0;
    z-index: 1;
}
select:hover{
    color: #F5993C;
    border: none;
}
select:active{
    color: #313131;
    border: none;
}
select:focus{
    color: #F5993C;
    border: none;
}
select::after{
    border: none;
}
section img{
    transition: ease-in-out 0.3s;
    margin-top: 30px;
}
section img:hover{
    transform: scale(0.9);
}
section img:active{
    transform: scale(0.8);
}
option{
    font-family: "Poppins", sans-serif;
    font-size: 14px;
    color: #313131;
    border: none;
    padding: 10px 0;
}
option::after{
    border: none;
}
option:focus{
    border: none;
    outline: none;
}
.more{
    display: flex;
    gap: 8px;
}
.info a{
    text-decoration: none;
    color: #313131;
    /* padding: 4px; */
    transition: all 0.3s ease-in-out;
}
.info a:hover{
    /* background-color: #909090; */
    /* transition: 1s; */
    color: #F5993C;
}
.info a:active{
    color: #313131;
}
.signin{
    color: #F5993C;
    background:none ;
}
.signin:hover{
    background: none;
    color: #fcbc7c;
}
.signin:active{
    background: none;
    color: #313131;
}
.sign-up{
    text-decoration: none;
    padding: 10px 15px;
    background-color: #F5993C;
    color: #FFFFFF;
    border-radius: 32px;
    font-size: 13px;
}
.sign-up:hover{
    background-color: #313131;
    color: #FFFFFF;
}
.sign-up:active{
    background-color: #F5993C;
    color: #FFFFFF;
}
main{
    position: relative;
}
.first-main{
    display: flex;
    justify-content: space-between;
    font-family: "Poppins", sans-serif;
    padding: 30px 0 0 0;
}
.car-detail{
    margin-top: 50px;
}
.first-main h1{
    font-family: "Montserrat", sans-serif;
    font-size: 42px;
    /* text-transform: uppercase; */
    font-weight: 800;
    /* letter-spacing: 3px; */
    margin: 0;
}
#car-rent{
    color: #909090;
}
.learn-about{
    display: flex;
    align-items: center;
    gap: 23px;
    margin-top: 40px;
}
#learn-more{
    text-decoration: none;
    border: 1px solid #313131;
    border-radius: 23px;
    padding: 10px;
    font-size: 14px;
    color: #313131;
}
#learn-more:hover{
    background-color: #313131;
    border: none;
    color: #FFFFFF;
}
#learn-more:active{
    background-color: #F5993C;
    color: #FFFFFF;
    border: none;
}

#watch{
    text-decoration: none;
    color: #313131;
}
#watch:hover{
    color: #F5993C;
}
#watch:active{
    color: #313131;
}
.car-image{
    transition: ease-in-out 0.3s;
}
.car-image img{
    width: 100%;
}
.car-image:hover{
transform: rotate(10deg);
}
.second-main{
    position: absolute;
    top: 80%;
    background-color: #FFFFFF;
    display: flex;
    align-items: center;
    padding: 10px 30px;
    justify-content: space-between;
    font-family: "Poppins", sans-serif;
    font-size: 13px;
    width: 80%;
    border-radius: 50px;
    box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.1);
    transition: ease-in-out 0.3s;
}
.second-main:hover{
    transform: translate(-10px, -20px);
}
.p1{
    color: #909090;
}
.location-picker{
    display: flex;
    gap: 10px;
    align-items: center;
}
input{
    font-family: "Poppins", sans-serif;
    border: none;
    outline: none;
    cursor: pointer;
}
.car-type{
    border-right: 1px solid #909090;
padding: 0 20px;
}
.car-ul{
    padding: 0;
}
.car-ul li a:hover{
color: #F5993C;
}
.car-ul li a{
text-decoration: none;
color: #313131;
}
.car-menu{
    display: none;
    padding: 20px;
}
.car-menu ul{
    padding: 0;
}
.fa{
    margin-left: 10px;
}
.car-ul li:hover .car-menu{
    display: block;
    position: absolute;
    background-color: #F2F1F0 ;
    margin-top: 2px;
    margin-left: -35px;
    border-radius: 10px;
}
.car-ul li:hover .car-menu ul{
    display: block;
    margin: 0px;
}
.car-ul li:hover .car-menu ul li{
    /* width: 100px; */
    padding: 10px;
    border-bottom: 1px solid #313131;
    text-align: left;
}
.car-ul li:hover .car-menu ul li:last-child{
    border-bottom: none;
}
.car-ul li:hover .car-menu ul li a:hover{
    color: #f1522b;
}
.car-type-picker, .date-picker{
    display: flex;
    gap: 15px;
    align-items: center;
}
.calendar-icon1{
    position: absolute;
    right: 39%;
}
.calendar-icon2{
    position: absolute;
    right: 19%;
}
.date-picker input[type="date"]::-webkit-calendar-picker-indicator{
opacity: 0;
font-size: 21px;
cursor: pointer;
}
button{
    font-family: "Poppins", sans-serif;
    border: none;
    background-color:#6ED4D4;
    color: #FFFFFF;
    padding: 10px 30px;
    border-radius: 30px;
}
button:hover{
    background-color: #313131;
    color: #FFFFFF;
}
button:active{
    background-color: #F5993C;
    color: #FFFFFF;
}
footer{
    display: flex;
    justify-content: space-between;
    padding: 30px 100px;
    width: 1000px;
    font-family: "Poppins", sans-serif;
    font-size: 14px;
    color: #313131;
    margin-top: 50px;
}

@media screen and (min-width:1440px) {
.web-holder{
    width: 1440px;
}    
footer{
    max-width: 1440px;
}
}
@media screen and (max-width:1270px) {
    .first-main h1{
        font-size: 45px;
    }
}
@media screen and (max-width:1230px) {
    .first-main h1{
        font-size: 40px;
    }
    #car-rent{
        font-size: 14px;
    }
}
@media screen and (max-width:1190px) {
    .first-main h1{
        font-size: 35px;
    }
    .car-image{
        width: 500px;
    }
    .second-main{
        top: 85%;
    }
}

@media screen and (max-width:890px) {
    section img{
        width: 130px;
    }
    .info{
        justify-content: space-between;
        gap: 20px;
    }
    .info a{
        font-size: 13px;
    }
    .car-detail{
        margin-top: 0;
    }
    .second-main span{
        font-size: 11px;
    }
    .second-main p{
        font-size: 14px;
    }
   
}

@media screen and (max-width:820px) {
    .info a{
        font-size: 11px;
    }
    section ul a, .sign-up{
        font-size: 11px;
    }
    .info{
        gap: 20px;
    }
   .second-main{
    width: 90%;
   }
     footer{
        width: 900px;
    }
}

@media screen and (max-width:520px) {
    header{
        flex-direction: column;
    }
    .contact{
    flex-direction: column;
    gap: 0;
    }
    .email{
     flex-direction: column;
     gap: 0;
    }
    ul{
        /* flex-direction: column; */
        gap: 0;
    }
}